.myDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.myDiv button{
    padding: 5px;
    background-color: coral;
    border-radius: 20px;
}